@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

body {
  background: #F8F8F8
}

.playwrite-cu {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
